body{
    background-color: #a0aec0 !important;
}
.custom-container{
    height: 90vh;
}
.box{
    height: 100px;
    margin: 10px;
}

.box a{
    height: 100%;
}

.box a img{
    width: 50px;
}

.box-table{
    height: 50px;
    margin: 10px;
}

.box-table a{
    height: 100%;
}

.box-table a img{
    width: 30px;
}
.custom-message{
    height: 50px;
    background-color: #007bff;
    color: #fafafa;
}

.trash{
    width: 5%;
}
